.signin{
    .buttons{
        margin-top: 15px;
    }
    .btn-signin{
        background-color: green;
        padding: 6px;
        color: white;
        border: 1 solid rgb(185, 183, 183);
        border-radius: 6px;
        margin:3px;
        margin-left: 0;
    }
    .btn-signingoogle{
        padding:6px;
        background-color: rgb(158, 22, 124);
        color: white;
        border: 1 solid rgb(185, 183, 183);
        border-radius: 6px;
    }
}